body{
  background-color: #f2f2f2;
  font-family: "Cambria";
}
/** slogan **/
.slogan{
color: rgb(55, 141, 15); 
font-size: 10px;
font-weight: bold; 
}
/** getstarted**/
#getstated{
  position: absolute;
  top: 46%;
  left: 46%;
}
/**- carrousel option **/
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.carousel .carousel-item {
  height: 900px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/** Navbar css **/
.social-media p a {
  border: 1px solid #e6e6e6;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 4px;
  color: #4d4d4d;
  transition: all .2s;
}

.social-media p a:hover {
  box-shadow: 0 0 15px rgba(0,0,0, 0.5) inset;
}

.navbar-brand span {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}
.navbar-nav .nav-item {
  margin-left: auto;
  margin-right: auto;
}


/**Navbar css end **/

/*object-fit:cover; To preserve the aspect ration for different window sizes*/
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

/**Team member css started **/
.team4 {
  font-family: "Cambria", sans-serif;
	color: black;
  font-weight: 300;
}
.img-spec {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: black;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}
/**Team member css end **/

/**Feature css started = class name need to be change **/
.our-services {
  margin-top: 75px;
  padding-bottom: 30px;
  padding:  60px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all .4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center
}

.our-services:hover h4,
.our-services:hover p {
  color: #fff
}

.speedup:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.settings:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.privacy:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
}

.backups:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.ssl:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
}

.database:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}
/**Feature css end **/

/**Pricing Page **/
section.pricing {
  background: linear-gradient(to bottom, #212529, white);
  background-size:cover
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0,5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 5rem 0;
}

.pricing .card-title {
  margin-top: 20px ;
  margin: 1rem ;
  font-size: 0.9rem;
  letter-spacing: .4rem;
  font-weight: bold ;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0rem;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}


.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}
.Pcolor {
  color: #A38A00;
}
.cardtitlecolorS {
  color: rgb(0,168,225);
}
.cardtitlecolorP {
  color: #A38A00;
}



/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}